body {
    padding: 0;
    margin: 0;
}
.container {
    width: 80%;
    margin: 0 auto;
}
/* Header Style  */

.header {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    background-color: #505581;
}
/* logo area style  */
.logo-area {
    display: flex;
    align-items: center;
}
.logo img {
    width:50px;
}
.l-title h3 {
    color: beige;
    font-size: 20px;
    margin-left:10px ;
}
.highlight-cl {
    color: #F4D35E;
}

/* Menu area style  */

.menu ul li {
    display: inline;
    margin-left: 25px;
} 
.menu ul li a{
    text-decoration: none;
    color: beige;
    font-weight: 900;
    font-size: 20px;
} 
.menu ul li a:hover {
    color: #F4D35E;
}
.menu ul li:nth-last-child(1) {
    color: #F4D35E;
    background-color: #2E2F5B;
    border-radius: 7px;
    padding: 10px 25px;
}
.menu ul li:nth-last-child(1):hover {
    background-color: #1d1e3a;
}


/* Main Section Style  */

.main {
    display: flex;
    align-items: center;
    background-color: #bdbdbd;
    min-height: 400px;
    border-radius: 20px;
    margin-top: 10px;
    text-align: center;
}
.main-col {
    width: 50%;
    padding: 80px;
}
.main-col img {
    width: 300px;
}
.m-title h2 {
    font-size: 40px;
    margin: 0;
    color: #FFFFFF;
}
.m-title h3 {
    font-size: 30px;
    margin-top: 5px; 
    color: #000000;
}
.icon-area ul {
    padding: 0;
}
.icon-area ul li {
    display: inline;
    font-size: 30px;
    margin: 10px;
} 
.icon-area ul li a {
    color: #1d1e3a;
}
.icon-area ul li a:hover {
    color: #F4D35E;
}
/* Common button style  */

button {
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #F4D35E;
    color: #373737;
    background-color: #e7e7e7;
    font-weight: 700;  
    margin-right: 10px ;
}
button:hover {
    border: 2px solid #373737 ;
}

/* Products Area Style  */
.product-area {
    margin-top: 40px;
    display: flex; 
    text-align: center;
}
.p-cart {
    background-color: #bdbdbd;
    width: 30%;
    padding: 20px;
    /* margin-right: 10px; */
    margin: 5px;
    border-radius: 20px;
}
.cart-img img {
    width: 100%;
}
.p-title-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.p-title-area h4 {
    display: block;
}
.p-icon a {
    color: #1d1e3a;
    margin: 5px;
}
.p-icon a:hover {
    color: #F4D35E;
}
/* Gallery Area Style  */
.gallery {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.gallery-item {
    border: 2px solid #1d1e3a;
    border-radius: 20px;
}
.gallery-item img  {
    width:100%;
}
.gallery-btn {
    text-align: center;
    margin-top: 40px;
}